body {
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Cinzel', serif;
    color: white;
    background-image: url("images/registration4x.png");
    background-repeat: no-repeat;
    background-position: 30% center;
    background-size: cover;
    background-attachment: scroll;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50%;
    padding-right: 5%;
}


.card {
    width: 380px;
    height: 500px;
    padding: 26px 24px;

    background: rgba(10, 15, 35, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    backdrop-filter: blur(8px);

    display: grid;
    gap: 14px;
}

.card h2 {
    margin: 0 0 6px;
    font-size: 26px;
    font-weight: 700;
}

.email_input_block,
.password_input_block {
    display: grid;
    gap: 6px;
}

.email_input_block h3,
.password_input_block h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
}

.email_input_block input,
.password_input_block input {
    padding: 12px 14px 12px 0px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.06);
    color: white;
    outline: none;
    font-family: inherit;
}

.email_input_block input:focus,
.password_input_block input:focus {
    border-color: rgba(212, 168, 74, 0.9);
}

.field-message h5 {
    min-height: 16px;
    font-size: 13px;
    color: #ff6b6b;
    margin: 0px;
    font-weight: 200;
}

.form_btn {
    width: 100%;
    margin-top: 6px;
    padding: 12px 14px;

    border: 0;
    border-radius: 12px;
    background: #d4a84a;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.subtext {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;

    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
}

.subtext h5 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.subtext a {
    color: #d4a84a;
    text-decoration: none;
}